/* List */
li {
    margin-top:1px;
    margin-bottom:1px;
    padding-top: 1px;
    padding-bottom:1px;
}

ul {
    font-size: 15px;
}

ul.special {
    margin-top:0;
    margin-bottom:1px;
    padding-top: 0;
    padding-bottom:1px;
    margin-left: 15px;
}


/* Body */
.bd-main .bd-content .wy-nav-content {
    max-width: 1250px;
}

.bd-article-container {
    max-width: 950px;
}

.prev-next-area a .prev-next-info .prev-next-subtitle {
    margin-bottom: 20px;
}

.prev-next-footer {
    margin-bottom: 65px;
}

.prev-next-subtitle {
    font-variant: small-caps;
}

.prev-next-title {
    font-variant: small-caps;
}

body {
    font-family: Inter, sans-serif;
}


/* Caption */
.caption-text {
    font-family: Inter, sans-serif;
}


/* Font */
h1 {
  display: block;
  font-size: 1.63em;
  font-variant: small-caps;
    margin: 0.83em 0;
    font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.27em;
  text-transform: uppercase;
  opacity: 0.90;
    margin: 1em 0;
    font-weight: 900;
}

h3 {
  display: block;
  font-size: 1em;
    margin: 1.33em 0;
    font-weight: bold;
}

h4 {
  display: block;
  font-size: .83em;
    margin: 1.67em 0;
    font-weight: bold;
}

h5 {
  display: block;
  font-size: .67em;
    margin: 2.33em 0;
    font-weight: bold;
}


/* Image */
img {
  margin-left: 65px
}


/* Table */
table {
    border-collapse: collapse;
    border-spacing: 5px;
    border: 0;
    margin-left: 35px
}

td,
th {
    padding: 5px;
}
